<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header>
        SMID Summer Workshop Scheduler
    </header>
    <div id="content">
        <!-- Homepage -->
        <div id="app" v-if="app1Visible">
            {{ message }}
            <br>
            <div class="panel flex">
                <button v-on:click="selectConstraints">
                    Enter Constraints
                </button>
                <div>
                    Create or change the data for a workshop
                </div>
            </div>
            <br>
            <div class="panel flex">
                <button v-on:click="selectSchedule">
                    View Schedules
                </button>
                <div>
                    Look at generated schedules for a workshop
                </div>
            </div>
        </div>
        <!-- Constraints input page -->
        <div id="constraints-app" v-if="constraintsVisible">
            Constraints are Visible
            <constraintItem v-for="item in constraints" v-bind:constraint="item" v-bind:key="item.id">
            </constraintItem>
            <form v-on:submit="submitCsv" id="form-csv" class="panel">
                <div><strong>Student Data CSV</strong></div>
                <input type="file" accept=".csv">
                <div style="color: red;">WARNING: This will reset the workshop data!</div>
                <!-- TODO: figure out if this is true -->
                <input type="submit" value="Upload">
                <!-- TODO: loading spinner and success/failure message -->
                <div class="form-status"></div>
            </form>

            <!-- TODO: maybe make this page a <form> with <section>s for easier submitting to server -->
            <div v-for="(cons, ctype) in constraints2" class="panel constraints-panels">
                <div style="text-transform: capitalize;"><strong>{{ ctype }}</strong></div>

                <div v-if="ctype === 'rooms'" id="constraints-rooms">
                    <label>
                        Small (10 students):
                        <input type="number" :value="cons[0]" min="0" max="99">
                    </label><br>
                    <label>
                        Medium (10-25 students):
                        <input type="number" :value="cons[1]" min="0" max="99">
                    </label><br>
                    <label>
                        Large (25+ students):
                        <input type="number" :value="cons[2]" min="0" max="99">
                    </label><br>
                </div>

                <div v-else>
                    <div v-for="item in cons" style="border-bottom: 1px solid gray;">
                        <!-- TODO: remove inline styles -->
                        <div v-for="(v, k) in item">
                            <!-- TODO use id="{{item.id}}_{{k}}" for Vue form stuff -->
                            <div v-if="k === 'id'" style="display: none;"><input type="hidden" :value="v"></div>
                            <div v-else>{{ k }}: <input type="text" :value="v"></div>
                            <!-- TODO: use other types of input for arrays -->
                        </div>
                        <!-- TODO: button to delete this row -->
                    </div>
                    <button v-on:click="addRow($event, ctype)">Add Entry</button>
                </div>

            </div>

        </div>
        <!-- Schedule results page -->
        <div id='schedule'>
            <div v-if="scheduleVisible">Schedule is Visible</div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>